extends layout

block content
  h1.title Tim's FreeCodeCamp Project
  h2 URL Shortener Microservice API
  p.red  Example Usage:
  p.step 1. Add your url to the url like so:
  p -- localhost:3000/https://stackoverflow.com/
  p.step 2. You will receive an output in JSON:
  p
  code --  {
  br
  code --  "original_url": https://stackoverflow.com/,
  br
  code --  "short_url": BkH5sfOJG
  br
  code -- }
  br
  p.step 3. Now input the short_url to the url like so:
  p -- localhost:3000/BkH5sfOJG
