body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.title {
  text-decoration: underline;
}

.red {
  color: red;
}

.step {
  font-weight: bold;
  font-size: 1.3em;
}
